body {
    margin: 0;
    padding: 0;
    background: url(images/bg.png);
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #272727;
}
.bl {
    background: #fff;
    min-width: 400px;
    max-width: 900px;
    margin: 20px auto;
    border-radius: 3px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4)
}
.head {
    background: url(images/bg_head.jpg) center;
    padding: 0; 
    background-size: cover;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(25, 57, 77, 0.9)
}
.head__bg {
    padding: 20px;
    background-color: rgba(58, 128, 172, 0.49);

}
.head__desc {
    margin: 0;
    font-size: 1.2rem;
}
label {
    cursor: pointer; /* Выглядит как ссылка */
}
.form__bl {
    margin: 20px 0;
}
.form_desc {
    font-style: italic;
    color: #777;
    margin: 0;
}
textarea {
    resize: none;
    width: 100%;
    height: 100px;
    transition: all .5s;
    outline: 0;
}
.my__label {
    font-weight: bold;
    width: 150px;
    display: inline-block;
    color: #555;
}
.my__input {
    outline: 0;
    border: 1px solid #ccc;
    line-height: 2rem;
    padding: 10x 20px;
    width: 230px;
    border-radius: 3px;
    box-sizing: border-box;
    transition: all .5s;
}

.my__input:focus, textarea:focus, 
select.my__input:hover {
    border: 1px solid #4886b9;
    border: 1px solid #294d6b;
}

.my__pad {
    padding: 0 0 0 20px;
    line-height: 2.2rem;
    width: 70px;
}
.btn {
    outline: 0;
    border: 1px solid #ddd;
    padding: 10px 20px;
    background: #eee;
    border-radius: 3px;
    cursor: pointer;
    transition: all .5s;
}
.btn:hover {
    border: 1px solid #175fd3;
    background: #1d73ff;
}
.btn:active{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5) inset;
}
:checked + .ch{
    color: blue;
}

button:disabled{
    cursor: no-drop;
}
table{
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align: center;
}
td, th{
    border: 1px solid #ddd;
    padding: 5px 10px;
}

tbody tr{
    transition: all .5s;
    }

z.tbody tr:nth-child(even){
    background: #f5f5f5;
}

tbody tr:hover {
background: #f0f0f0;
transition: all .5s;
}

tfoot tr {
    background: #fdfb9f;
}
thead tr {
    background: #ddd;
}